.ui.toggle.checkbox input:checked ~ .box::before, 
.ui.toggle.checkbox input:checked ~ label::before,
.ui.toggle.checkbox input:focus:checked ~ .box::before, 
.ui.toggle.checkbox input:focus:checked ~ label::before {
    background-color: rgb(34, 191, 52) !important;
}

.ui.toggle.checkbox input:focus ~ .box::before, 
.ui.toggle.checkbox input:focus ~ label::before,
.ui.toggle.checkbox .box::before,
.ui.toggle.checkbox label::before {
    background-color: rgb(255, 81, 68) !important;
}

.ui.toggle.checkbox input ~ .box, 
.ui.toggle.checkbox input ~ label,
.ui.toggle.checkbox input:checked ~ .box, 
.ui.toggle.checkbox input:checked ~ label,
.ui.toggle.checkbox input:focus:checked ~ .box, 
.ui.toggle.checkbox input:focus:checked ~ label {
    color: white !important;
}